version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.9

    working_directory: /go/src/github.com/siddhartha97/bridgely
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run:
          name: Fetching Dependencies
          command: |
            go get -v -t -d ./...
            go get -u github.com/haya14busa/goverage
      - run:
          name: Running Tests and Coverage
          command: |
            go test -v -coverpkg=./... -coverprofile=profile.cov ./...
            go tool cover -func profile.cov
#            goverage -v -coverprofile=coverage.out ./...
#            go tool cover -func=coverage.out

